*{
    margin: 0;
    padding: 0;
    box-sizing: border-box

}

.container{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}

.header{
    background-color: teal;
    height: 200px;
    padding: 10px 0px;
}

.header .container{
    font-size: 0;
}

.logo-container{
    display: inline-block;
    vertical-align: middle;
}

.navigation{
    display: inline-block;
    vertical-align: middle;
}

.navigation_link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.navigation_list{
    list-style: none;
    width: 930px;
    text-align: right;
}

.navigation_list-item{
    display: inline-block;
    width: 75px;
    text-align: center;
    margin-right: 20px;
}

.navigation_list-item:last-child{
    margin-right: 0;
}
/*.navigation_list-item:not(:last-child){
    margin-right: 0px;
}*/

.sec-01{
    background-color: bisque;
}
.sec-02{
    background-color: 
}
.sec-03{
    background-color: ;
}